<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet"  type="text/css" href="css/newss.css">
  </head>
  <body>

    <header>
        <img src="logo1.png" class="logo">
            <div class="nav-bar">

              <ul class="menu">
          <div class="welcome">
          <h1 align="center">WELCOME</h1>
          </div>

          <xx>  <div align="right"><strong><a href=""><h2 style="color:black;">Logout</h2></a></strong></div></xx>


          <li><bold><a href="">Dashboard</a></bold></li>
          <li><bold><a href="">Profile</a></bold></li>
          <li><bold><a href="">Staff</a></bold></li>
          <li><bold><a href="">Attendance</a></bold></li>
          <li><bold><a href="">Events</a></bold></li>
          <li><bold><a href="">CGPA Calculator</a></bold></li>

        </ul>

      </div>

    </header>

  </body>
</html>
