
header
{
  background: url('../image/120.jpg');
  height: 94vh;
  background-size: cover;
  background-position: center;
}

#students
{
  width: 500px;
  /*border-spacing: 10px;*/
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid #000;
  position: relative;
  top: 20vh;
}

#students th
{
  border: 2px solid #000;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  height: 25px;

}

#students, #students th, #students td
{
  border: 2px solid #000;
  border-collapse: collapse;
  text-align: left;

}

#students, #students td
{
  padding: 15px;

}


#students td, #students th
{
  border: 2px solid #000;
  text-align: left;
  padding: 15px;

}

#students tr:hover
{
  background-color: #fff;
}

.menu
{
  display: block;
  text-align: right;
  position: relative;
  top: auto;
  font-family: monospace;
  font-size: 20px;
  color: #fff;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
