<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V04</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename='table/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='table/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'table/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='table/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='table/vendor/select2/select2.min.css' ) }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'table/fonts/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='table/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='table/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
						<form method="POST">

				<div class="table100 ver1 m-b-110">
					
						<table>
							<div class="table100-head">
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Name</th>
									<th class="cell100 column2">USN</th>
									<th class="cell100 column3">Toggle</th>
								</tr>
							</thead>
							</div>	
							<tbody>	
								
								{% for row in attendance %}
									
								<tr class="row100 body">
									<td class="cell100 column1">{{ row[0] }}</td>
									<td class="cell100 column2">{{row[1]}}</td>
									<td class="cell100 coloum3"><input type="checkbox" name= {{row[1]}} />&nbsp;</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
						<br>						
				</div>		
				<input type="submit" id="submit" class="submit" value = "Submit attendace"  />
		</form>
			</div>
		</div>
		
	</div>
<!--===============================================================================================-->

</body>
</html>