<!DOCTYPE html>
<html lang="en">
<head><title>Attendence</title>
  <style type="text/css">
    .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">USN</th>
            <th scope="col">Toggle</th>
          </tr>
        </thead>
        <tbody>
          {% for row in attendance %}
          <tr>
            
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" name = {{row[1]}} >
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>